 {{>header}}
<body>
   <div class="main-content">
   {{>navbar}}
   <img class="portrait" src="./img/pexels-jeremy-bishop-17318211.jpg" width="50%" alt="sand">
   {{>footer}}
   </div>
</body>
</html>