 {{>header}}
 <body>
   <div class="main-content">
       {{>navbar}}
      <p>{{someText}}</p>
      <form >
         <input type="text" class="latitude" placeholder="Latitude">
         <input type="text" class="longitude" placeholder="Longitude">
         <button>Search</button>
      </form>
      <p id="message-1"></p>
      <p id="message-2"></p>
   </div>   
    {{>footer}}
 <script src="./js/app.js"></script>
 </body>
 </html> 